@import "../../packages/excalidraw/css/variables.module.scss";


.file-tree-container {
  width: 230px;
  min-height: 540px;
  overflow-y: auto;
  // border: 1px solid var(--sidebar-border-color);
  box-shadow: var(--sidebar-shadow);
  border-radius: 10px;
  user-select: text;

  .dropdown-menu-container {
    height: 540px;
  }
}

.file-menu-recent {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 120px;
  overflow-y: scroll;
}

.file-menu-heading {
  margin: 5px 0px;
  color: var(--color-primary);
  font-size: 1rem;
}

.file-node-tile {
  display: flex;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.9rem;
  color: var(--text-primary-color);
  padding: 4px;
  border: 1px solid var(--default-border-color);
  background: var(--color-surface-high);
  border-radius: 5px;
  user-select: text;
}

.file-node-spinner {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


.file-menu-search-input {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  width: 90%;
  height: 20px;
  background-color: #31303b;
  border-radius: 5px;
  border-color: var(--ExcTextField--border-active);
  margin-top: 10px;
  margin-left: 5px;

  .ExcTextField__input {
    height: 25px;
    border: none;
    border-radius: 0px;
    background: transparent;

    input {
      font-size: 0.95rem;
      height: fit-content;
      margin-top: 5px;
      background: transparent;
    }
  }
}
